.track {
	background-color: rgb(63, 111, 194);
}

.audioSegment {
	background-color: rgb(0, 228, 57);
	border-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 50px;
}

.audioSegment:hover {
	background-color: rgb(0, 136, 34);
}